/* #game */
@media only screen and (min-width: 320px) {
  #game .start-game-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  #game .button-container {
    width: 100%;
    align-items: center;
  }

  #game .title-screen-container {
    margin-bottom: 25px;
  }

  #game .title-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #game .game-screen {
    width: 95%;
    display: flex;
    justify-content: center;
  }

  #game .instructions-text {
    font-size: x-large;
    font-family: "Quicksand-Semibold";
  }

  #game .next-button-container {
    display: flex;
    justify-content: right;
  }

  #game .question-container {
    width: 100%;
  }

  #game .question-text {
    font-family: "Quicksand-Bold";
    font-size: large;
  }
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  #game .game-screen {
    width: 80%;
  }

  #game .instructions-text {
    font-size: xx-large;
  }

  #game .button-container {
    width: 30%;
    align-items: center;
  }

  #game .question-text {
    font-size: xx-large;
  }
}

@media only screen and (min-width: 1200px) {
  #game .question-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1400px) {
}
